# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Data (sera monté en volume)
data/processed/*
data/exports/*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documentation temporaire
docs/*.md
